<!doctype html>
<head>
  <title>Evaluaci贸n</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457744878/starrr.css">
  <style type='text/css'>
    img.ribbon {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      border: 0;
      cursor: pointer; }

    .container {
      margin-top: 60px;
      text-align: center;
      max-width: 450px; }

    input {
      width: 30px;
      margin: 10px 0;
    }
    .starrr i {
    font-size: 35px!important;
   
}
  </style>
</head>
<body>
  <div class="container">
    <h4>Tu opini贸n es muy valiosa, te invitamos a evaluar a nuestro instructor</h4>
    <h3>Juan Carlos Santiago</h3>
    <h5>Tomando en cuenta que 1 estrella es la calificaci贸n mas Baja y 5 estrellas la calificacion mas Alta.</h5>
    <div class='starrr' id='star1'></div>
    <div>&nbsp;
      <span class='your-choice-was' style='display: none;'>
        Agradecemos tu preferencia. Calificaci贸n de <span class='choice'> Estrellas</span> Estrellas.</br>
        <button class="btn btn-info" id="close">Enviar</button>
      </span></br>
      
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457744878/starrr.js"></script>
  <script>
    $('#star1').starrr({
      change: function(e, value){
        if (value) {
          $('.your-choice-was').show();
          $('.choice').text(value);
        } else {
          $('.your-choice-was').hide();
        }
      }
    });

    var $s2input = $('#star2_input');
    $('#star2').starrr({
      max: 10,
      rating: $s2input.val(),
      change: function(e, value){
        $s2input.val(value).trigger('input');
      }
    });
    $('#close').click(function(){
    window.location.href = "https://pronostic.com.mx";
    });
  </script>
  
</body>
</html>
