<!doctype html>
<head>
  <title>Evaluación</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457744878/starrr.css">
  <%= render 'style' %> 
  <style type='text/css'>
  body{
    background-color: hsl(204, 12%, 92%);
  }
    img.ribbon {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      border: 0;
      cursor: pointer; }

    .container {
      margin-top: 60px;
      text-align: center;
      max-width: 450px; }

    input {
      width: 30px;
      margin: 10px 0;
    }
    .starrr i {
    font-size: 35px!important;
   
}
h5{
  margin: 5%;
}
.panel-title{
  background-color: hsl(195, 29%, 97%)!important;
  padding: 3%;
  font-size: 27px;
 
}
p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
li{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.your-choice-was{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#close{
  margin-top: 5%;
  margin-bottom: 5%;
}
  </style>
</head>
<body>

  <div class="container">


            <div class="col-md-12">
                        
                        <!-- begin panel -->
                        <div class="panel panel-default">
                            <div class="panel-title">
                              
                                <h4 class="panel-title">Grupo Vianse</h4>
                            </div>
                            <div class="panel-body">
                                <h3 class="m-t-0"></h3>
                                <p>
                                    Para Grupo Vianse tu opinión es muy importante; es por ello que te invita a calificar a tu asesor de servicio: 
                                </p>
                                <h4>Juan Carlos Santiago</h4>
                                
                                        <h5>Tomando en cuenta los siguientes creterios.<br>
                                          <li>
                                            Una estrella es la calificación mas baja.
                                          </li>
                                          <li> 5 estrellas es la calificación mas alta.</li>
                                          </h5>
                                        <div class='starrr floating' id='star1'></div>
                            </div>
                            <div>&nbsp;
                            <span class='your-choice-was' style='display: none;'>
                              Agradecemos tu preferencia. Calificación de <span class='choice'> Estrellas</span> Estrellas.</br>
                              <button class="btn btn-info" id="close">Enviar</button>
                            </span></br>
                            
                          </div>
                        </div>
                        <!-- end panel -->
            </div>
    
    
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457744878/starrr.js"></script>
  <script>
    $('#star1').starrr({
      change: function(e, value){
        if (value) {
          $('.your-choice-was').show();
          $('.choice').text(value);
        } else {
          $('.your-choice-was').hide();
        }
      }
    });

    var $s2input = $('#star2_input');
    $('#star2').starrr({
      max: 10,
      rating: $s2input.val(),
      change: function(e, value){
        $s2input.val(value).trigger('input');
      }
    });
    $('#close').click(function(){
    window.location.href = "https://pronostic.com.mx";
    });
  </script>
  
</body>
</html>
