<%= render 'reset' %>
<%= render 'estilo' %>

<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="icon"  href="http://res.cloudinary.com/dnubgpeun/image/upload/v1460402438/favicon.ico"/>
	<link rel="icon" href="https://res.cloudinary.com/dnubgpeun/image/upload/v1460400923/favicon.png" sizes="256x256" type="image/png" />
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/estilo.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457991292/animated.css">
	<title>Pronostic</title>
</head>
<style type="text/css">
.centrar{
	margin-left: 2%;
}
#story.waterislife{
	background-image:
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg)!important;
	background-image:
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg)!important;
	background-image:
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1460088631/pantalla.jpg)!important;
	/*background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	box-shadow:inset 0 -42.5rem 42.5rem -21.25rem rgba(0,0,0,.5),inset 0 8.5rem 10.6rem -5.3rem rgba(0,0,0,.5)!important*/}

</style>

<body>
<nav class="top no_sticky" aria-hidden="true" data-no-scroll="1">
	<a href="#" class="logo">
		<%= image_tag("https://res.cloudinary.com/dnubgpeun/image/upload/v1460400875/logo_blanco.png", size: "300x200") %>
	</a>
		<ul>
	
		<li>
			<a href="choise/" class="btn_sticky ga_track_signup cta_track ">Iniciar sesión </a>
		</li>
		<li class="mobile_menu_btn">
			<a href="choise/" class="btn_sticky">Iniciar sesión </a>
		</li>
	</ul>
</nav>
<div id="story" class="waterislife signup signup_a signup_c top top_story_header ">

</div>


</script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>