<%= render 'reset' %>
<%= render 'estilo' %>

<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/estilo.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="https://www.justinaguilar.com/animations/css/animations.css">
	<title>Pronostic</title>
</head>
<style type="text/css">
.centrar{
	margin-left: 2%;
}
#story.waterislife{background-image:-webkit-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg)!important;
	background-image:-o-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg)!important;
	background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg),
	url(https://res.cloudinary.com/dnubgpeun/image/upload/v1448778838/fondo.jpg)!important;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	box-shadow:inset 0 -42.5rem 42.5rem -21.25rem rgba(0,0,0,.5),inset 0 8.5rem 10.6rem -5.3rem rgba(0,0,0,.5)!important}

</style>

<body>
<nav class="top no_sticky" aria-hidden="true" data-no-scroll="1">
	<a href="#" class="logo">
		<%= image_tag("logo.png", size: "300x150") %>
	</a>
		<ul>
	
		<li>
			<a href="choise/" class="btn_sticky ga_track_signup cta_track pulse">Iniciar sesión </a>
		</li>
		<li class="mobile_menu_btn">
			<a href="choise/" class="btn_sticky">Iniciar sesión </a>
		</li>
	</ul>
	</nav>
<div class="signup_c waterislife no_padding">
	
						
<div id="story" class="waterislife signup signup_a signup_c top top_story_header ">
		<div class="cta_ad">
		<h1 class="cta_story_header">
			<div class="hide_from_all">
			</div>
		
				<span class="cta_story_header_first">Vizualiza, analiza y
					<span class="typed-cursor typed_remove hidden hide">|
					</span>
				</span> 
				<span class="typewriter">
					<span class="">
						<span class="cta_story_header_second"> crea 
							<span class="callout_copy"> 
								 <span class="underline_robots"> tus 
								 </span> decisiones 
								 <span class="underline_mars"> correctas
								 </span> 
							</span> 
						</span> 
					</span>
				</span>
			<div class="typewriter_copy offscreen">
				<span class="">
					<span class="cta_story_header_second"> crea 
							<span class="callout_copy"> 
								 <span class="underline_robots"> tus 
								 </span> decisiones 
								 <span class="underline_mars"> correctas
								 </span> 
							</span> 
					</span> 
				</span>
			</div>
			<div class="typewriter_copy_mobile">
				<span class="no_wrap">
					<span class="cta_story_header_second">toma 
						<span class="callout_copy"> 
							<span class="underline_robots"> las
							</span> decisiones 
							<span class="underline_mars"> correctas
							</span> 
						</span> 
					</span> 
				</span>
			</div>
	
		</h1>
		<div class="cta_container">
			<div class="cta_subheader"><strong>Henry Ford:</strong> Si hubiera preguntado a la gente que qué quería, me hubiesen dicho que <strong>'caballos más rápidos'</strong></div>

		</div>
	</div>
	<div id="story_location">
		<strong><a href="https://es.wikipedia.org/wiki/Henry_Ford" target="_blank">Henry Ford</a></strong><br>
		<a href="https://es.wikipedia.org/wiki/Ford_Motor_Company" target="google_maps"> Ford Motor Company</a>	</div>
	</div>

<div class="waterislife signup signup_a signup_c top top_story_header_mobile">
	<div class="cta_subheader"><strong>Henry Ford:</strong> Si hubiera preguntado a la gente que qué quería, me hubiesen dicho que <strong>'caballos más rápidos'</strong></div>
</div>
<!--<footer class="footer_dark">
	<section>
		<div class="grid">
			<div class="col span_1_of_5">
				<img src="https://res.cloudinary.com/dnubgpeun/image/upload/v1448824637/logo-white.png" class="centrar">
				<small>Copyright Vianse 2015</small>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="#">Brand Guidelines</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Work</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Security</a></li>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">Policies</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="#">Status</a></li>
					<li><a href="#">API</a></li>
					<li><a href="#">Integrations</a></li>
					<li><a href="#">Download Apps</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="/help/contact">Contacto</a></li>
					<li><a href="#">@vianse</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>-->	
<div class="gradient"></div>
</div>


</script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>