<%= render 'reset' %>
<%= render 'estilo' %>

<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/estilo.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Pronostic</title>
</head>
<style type="text/css">

#story.waterislife{background-image:-webkit-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg)!important;
	background-image:-o-linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg)!important;
	background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg),
	url(http://imagenesdecarroslujosos.org/wp-content/uploads/2015/09/Fondo-De-Pantalla-Autos.jpg)!important;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	box-shadow:inset 0 -42.5rem 42.5rem -21.25rem rgba(0,0,0,.5),inset 0 8.5rem 10.6rem -5.3rem rgba(0,0,0,.5)!important}

</style>

<body>
<nav class="top no_sticky" aria-hidden="true" data-no-scroll="1">
	<a href="https://slack.com/" class="logo"></a>
		<ul>
		<li class="sign_in"><a href="users/sign_in">Iniciar Sesión</a></li>
		<li>
			<a href="users/sign_up" class="btn_sticky ga_track_signup cta_track">Crea una cuenta</a>
		</li>
		<li class="mobile_menu_btn">
			<a href="users/sign_up" class="btn_sticky">Registrar</a>
		</li>
	</ul>
	</nav>
<div class="signup_c waterislife no_padding">
	
						
<div id="story" class="waterislife signup signup_a signup_c top top_story_header ">
		<div class="cta_ad">
		<h1 class="cta_story_header">
			<div class="hide_from_all">
			
			</div>
					<span class="cta_story_header_first">Vizualiza, analiza y<span class="typed-cursor typed_remove hidden hide">|</span></span> <span class="typewriter">
				<span class="">
					<span class="cta_story_header_second"> toma <span class="callout_copy"> <span class="underline_robots"> las <svg class="underline_path underline_robots_path" width="186px" height="22px" viewBox="-4 0 186 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269" id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> decisiones <span class="underline_mars"> correctas<svg class="underline_path underline_mars_path" width="152px" height="30px" viewBox="-4 4 152 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166" id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span class="exclamation_point_2_dot"> </span> </i>
				</span>
			</span><span class="typed-cursor hide">|</span>
			<div class="typewriter_copy offscreen">
				<span class="">
					<span class="cta_story_header_second">w^75h^75o are <span class="callout_copy"> <span class="underline_robots">changing^300<svg class="underline_path underline_robots_path" width="186px" height="22px" viewBox="-4 0 186 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269" id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> the^300 <span class="underline_mars">world<svg class="underline_path underline_mars_path" width="152px" height="30px" viewBox="-4 4 152 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166" id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span class="exclamation_point_2_dot"> </span> </i>
				</span>
			</div>
			<div class="typewriter_copy_mobile">
				<span class="no_wrap">
					<span class="cta_story_header_second">who are <span class="callout_copy"> <span class="underline_robots">changing<svg class="underline_path underline_robots_path" width="186px" height="22px" viewBox="-4 0 186 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269" id="underlines-robots" transform="rotate(1)"></path>
				</svg></span> the <span class="underline_mars">world<svg class="underline_path underline_mars_path" width="152px" height="30px" viewBox="-4 4 152 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166" id="underlines-mars" transform="rotate(2)"></path>
				</svg></span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span class="exclamation_point_2_dot"> </span> </i>
				</span>
			</div>
	
		</h1>
		<div class="cta_container">
			<div class="cta_subheader"><strong>Henry Ford:</strong> Si hubiera preguntado a la gente que qué quería, me hubiesen dicho que <strong>'caballos más rápidos'</strong></div>

		</div>
	</div>
	<div id="story_location">
		<strong><a href="https://es.wikipedia.org/wiki/Henry_Ford" target="_blank">Henry Ford</a></strong><br>
		<a href="https://es.wikipedia.org/wiki/Ford_Motor_Company" target="google_maps"> Ford Motor Company</a>	</div>
	</div>

<div class="waterislife signup signup_a signup_c top top_story_header_mobile">
	<div class="cta_subheader"><strong>Henry Ford:</strong> Si hubiera preguntado a la gente que qué quería, me hubiesen dicho que <strong>'caballos más rápidos'</strong></div>
</div>
	<footer class="footer_dark">
	<section>
		<div class="grid">
			<div class="col span_1_of_5">
				<i class="ts_icon ts_icon_slack_pillow"></i>
				<small>Copyright Vianse 2015</small>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://slack.com/brand-guidelines">Brand Guidelines</a></li>
					<li><a href="https://slack.com/jobs">Jobs</a></li>
					<li><a href="http://slackatwork.com">Slack at Work</a></li>
					<li><a href="https://slack.zendesk.com/hc/en-us">Support</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://slack.com/privacy-policy">Privacy</a></li>
					<li><a href="https://slack.com/security">Security</a></li>
					<li><a href="https://slack.com/terms-of-service">Terms of Service</a></li>
					<li><a href="https://slack.com/policies">Policies</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="https://status.slack.com/">Status</a></li>
					<li><a href="https://api.slack.com/">API</a></li>
					<li><a href="https://slack.com/integrations">Integrations</a></li>
					<li><a href="https://slack.com/downloads">Download Apps</a></li>
				</ul>
			</div>
			<div class="col span_1_of_5 nav_col">
				<ul>
					<li><a href="/help/contact">Contacto</a></li>
					<li><a href="#">@vianse</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>	
<div class="gradient"></div>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>