
<style type="text/css">
body {
	background-image: url("http://res.cloudinary.com/dnubgpeun/image/upload/v1447483036/city-wallpaper-11_vdcs21.jpg");
}
</style>
<h2>Bienvenido a Pronostic</h2>


<a href="javascript:void(0)" class="btn btn-default btn-raised">Default</a>
<a href="javascript:void(0)" class="btn btn-primary">Primary</a>
