<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Pronostic</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
  <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
  <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
  <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
  <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735249/style.min.css" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735472/jquery.gritter.css" rel="stylesheet" />  
  <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735628/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->

  
  <!--[if lt IE 9]>
      <script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]-->
</head>
<style type="text/css">
.visible{
    display: none;
}
a.font{
  font-size: 16px;
}
.font{
  font-size: 16px;
}
.verde{
  color: #00A896;
}
</style>
<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Pronostic</a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <!-- begin navbar-right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= current_user.email %></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="/users/edit">Seguridad</a></li>
              <li class="divider"></li>
              <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete  %></li>
            </ul>
          </li>
        </ul>
        <!-- end navbar-right -->
      </div>
      <!-- end container-fluid -->
    </div>
    <!-- end #header -->
    
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">Navegación</li>
          <li class="has-sub active">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-home"></i>
                <span>Inicio <span class="label label-theme m-l-3">Bienvenidos</span></span>
              </a>
              <ul class="sub-menu">
                  <li class="active"><a href="/">Regresar</a></li>
                  
              </ul>
          </li>
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
	<!-- begin #page-container -->
	<div id="content" class="content">
     <div class="col-md-6 col-lg-6">
			            <!-- begin widget -->

			            <div class="widget widget-chat">
			                <div class="widget-header bg-inverse">
			                    <h4 class="text-white">Sucursales <%= params[:type] %></h4>
			                </div>
			                <div class="widget-body">
                                <ul class="widget-chat-list">

                                    <div id="sucursales"></div>
                                </ul>
                      </div>
                  </div>

			            <!-- end widget -->
			        </div>
</div>
	<!-- ================== BEGIN BASE JS ================== -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732895/jquery-1.9.1.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733033/jquery-migrate-1.1.0.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733159/jquery-ui.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733251/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
    <script src="assets/crossbrowserjs/html5shiv.js"></script>
    <script src="assets/crossbrowserjs/respond.min.js"></script>
  <![endif]-->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733386/jquery.slimscroll.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733489/jquery.cookie.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733913/bootstrap_calendar.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733996/jquery.sparkline.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734296/jquery.gritter.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734361/page-index.demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733809/demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732638/apps.js"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>
  <script>
    $(document).ready(function() {
        App.init();
        //Demo.init();
        //PageDemo.init();
    });
  </script>
<script type="text/jsx">
    /*
	 * Sucursales
	 */
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };


        var type = getUrlParameter('type');
        var url1 = "/api/v1/sucursales?type=" + type

if (type == "Servicio") {
		var Detalles = React.createClass({
		componentDidMount: function() {
			$.ajax({
		        url: url1 ,
		        dataType: 'json',
		        success: function(data) {
		          this.setState({data: data});
		        }.bind(this)
			});
		},
		
		getInitialState: function() {
		          return {
		          	data: []
		
		            };	       
		        },
		
		render: function() {   
				var contador = this.state.contar
				var subir = items
				var url  = "/home?app_id="
        var url2 = "/home_hyp?app_id="
        var tipo = "&type=" + type
				
						var items = this.state.data.map(function(object){
              
                return <li>
                              <a href={url + object.app_id + tipo} data-toggle="chat-detail">
                                <div className="chat-info has-new">
                                  <h4>{object.sucursal}</h4>
                                </div>
                              </a>
                        </li>
             
         
              });
							
			 			return <div>
			 					{items}
								</div>
			
			 		}
		});
		
		React.render(
		     	<Detalles />,
		 document.getElementById('sucursales')
		 );
}
else
{
 var Detalles = React.createClass({
    componentDidMount: function() {
      $.ajax({
            url: url1 ,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this)
      });
    },
    
    getInitialState: function() {
              return {
                data: []
    
                };         
            },
    
    render: function() {   
        var contador = this.state.contar
        var subir = items
        var url  = "/home?app_id="
        var url2 = "/home_hyp?app_id="
        var tipo = "&type=" + type
        
            var items = this.state.data.map(function(object){
             
                    return <li>
                              <a href={url2 + object.app_id + tipo} data-toggle="chat-detail">
                                <div className="chat-info has-new">
                                  <h4>{object.sucursal}</h4>
                                </div>
                              </a>
                          </li>
                    

              });
              
            return <div>
                {items}
                </div>
      
          }
    });
    
    React.render(
          <Detalles />,
     document.getElementById('sucursales')
     ); 
}
  </script>
</body>
</html>
